In [6]:
import pandas as pd

df = pd.read_csv("data/feature_importance.csv")

df.head()

                     feature    importance
0               ctrx_quarter  43781.892122
1  slope_ctrx_quarter_window  12964.548904
2                   mpayroll   9453.522336
3               cpayroll_trx   8568.607170
4      mprestamos_personales   8044.393624

In [19]:
# df sin columnas que tienen en el nombre la palabra "canario"
feature_importance_sin_canarios = df[~df["feature"].str.contains("canario")]

feature_importance_sin_canarios.to_csv("feature_importance_sin_canarios.csv")

In [15]:
# Columnas para ratios: Aquellas con feature importance mayor a 2000

columnas_ratios = df.loc[df["importance"] > 2000, "feature"].tolist()

columnas_ratios

['ctrx_quarter',
 'slope_ctrx_quarter_window',
 'mpayroll',
 'cpayroll_trx',
 'mprestamos_personales',
 'mcuentas_saldo',
 'mpasivos_margen',
 'mcaja_ahorro',
 'ctrx_quarter_lag_1_1',
 'ctrx_quarter_lag_1',
 'slope_mprestamos_personales_window',
 'slope_mcuentas_saldo_window',
 'slope_mpayroll_window',
 'slope_cpayroll_trx_window',
 'mtarjeta_visa_consumo',
 'mrentabilidad_annual',
 'Visa_msaldopesos',
 'ctarjeta_visa_transacciones',
 'cliente_edad',
 'mactivos_margen',
 'canario_27',
 'ctarjeta_master',
 'canario_50',
 'canario_19',
 'canario_36',
 'canario_22',
 'Master_fechaalta']

In [18]:
# 2025-09-28 08:03:58,933 - INFO - __main__ 152 -   Trial 26: 115,580,000
# 2025-09-28 08:03:58,934 - INFO - __main__ 152 -   Trial 59: 115,460,000
# 2025-09-28 08:03:58,934 - INFO - __main__ 152 -   Trial 97: 115,360,000
# 2025-09-28 08:03:58,934 - INFO - __main__ 152 -   Trial 71: 115,340,000
# 2025-09-28 08:03:58,935 - INFO - __main__ 152 -   Trial 14: 115,320,000

for i in (26, 59, 97, 71, 14):
    print(f"Trial {i}: {study.trials[i].value:,.0f}")
    print(study.trials[i].params)

NameError: name 'study' is not defined